@model IEnumerable<Projeto.Web.Areas.AreaRestrita.Models.Lote.ConsultaLoteAmostraViewModel>

<p><strong>Lotes Cadastrados</strong></p>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdLote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdReprovada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PercentualReprovado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioAnalise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoLote)
        </th>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdLote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdReprovada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentualReprovado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioAnalise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoLote)
        </td>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.ActionLink("Comentarios", "Comentario", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
