@model Projeto.Web.Areas.AreaRestrita.Models.Limite.LimiteControleViewModel
@{
    Layout = "~/Areas/AreaRestrita/Views/_Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="~/Scripts/Limite/cadastroAmostras.js"></script>
<script src="~/Scripts/Limite/calculoLimite.js"></script>
<script src="~/Scripts/Limite/cadastroLimite.js"></script>

<title>Calculo Limite Controle</title>

<h4>Cálculo de Limites de Controle</h4>
<h6>(*) Campos obrigatórios</h6>

<div>
    <a href="/AreaRestrita/CEP/Index">Voltar para a página inicial</a>
</div>
<hr />

@if (TempData["Sucesso"] != null)
{
    if ((bool)TempData["Sucesso"])
    {
        <div class="alert alert-success text-center form-group-lg"><strong>@TempData["Mensagem"]</strong></div>
    }
    else
    {
        <div class="alert alert-danger text-center form-group-lg"><strong>@TempData["Mensagem"]</strong></div>
    }
}

@if (Model.CadastroLoteAmostra != null)
{
    <div class="row">
        <p><strong>Cadastrar Lote</strong></p>
        @using (Html.BeginForm("CadastroAmostras", "Limite", FormMethod.Post, new { id = "formCadastro" }))
        {
            @Html.AntiForgeryToken()

            <div class="row" style="margin-bottom:20px">
                <div class="col-md-3">
                    @Html.DisplayNameFor(m => m.CadastroLoteAmostra.TipoCarta)
                    @Html.TextBoxFor(m => m.CadastroLoteAmostra.TipoCarta, new { @class = "form-control", @id = "txtTipoCarta", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.DisplayNameFor(m => m.CadastroLoteAmostra.TipoLote)
                    @Html.TextBoxFor(m => m.CadastroLoteAmostra.TipoLote, new { @class = "form-control", @id = "txtTipoLote", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.DisplayNameFor(m => m.CadastroLoteAmostra.UsuarioAnalise)
                    @Html.HiddenFor(m => m.CadastroLoteAmostra.UsuarioAnalise.IdUsuario)
                    @Html.TextBoxFor(m => m.CadastroLoteAmostra.UsuarioAnalise.Nome, new { @class = "form-control", @id = "txtUsuarioAnalise", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.CadastroLoteAmostra.UsuarioAnalise.Nome, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.DisplayNameFor(m => m.CadastroLoteAmostra.IdMaquina)
                    @Html.DropDownListFor(m => m.CadastroLoteAmostra.IdMaquina, Model.CadastroLoteAmostra.ListarMaquinas, "Selecione", new { @class = "form-control", @id = "txtMaquina" })
                    @Html.ValidationMessageFor(m => m.CadastroLoteAmostra.IdMaquina, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-1">
                    @Html.DisplayNameFor(m => m.CadastroLoteAmostra.QtdTotal)
                    @Html.TextBoxFor(m => m.CadastroLoteAmostra.QtdTotal, new { @class = "form-control", type = "number", min = "1", step = "1", @id = "txtQtdTotal" })
                    @Html.ValidationMessageFor(m => m.CadastroLoteAmostra.QtdTotal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayNameFor(m => m.CadastroLoteAmostra.IdLote)
                    @Html.TextBoxFor(m => m.CadastroLoteAmostra.IdLote, new { @class = "form-control", type = "number", min = 1, max = 10000, step = "1", @id = "txtLote" })
                    @Html.ValidationMessageFor(m => m.CadastroLoteAmostra.IdLote, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.DisplayNameFor(m => m.CadastroLoteAmostra.QtdReprovada)
                    @Html.TextBoxFor(m => m.CadastroLoteAmostra.QtdReprovada, new { @class = "form-control", type = "number", min = "0", step = "1", @id = "txtQtdReprovada" })
                    @Html.ValidationMessageFor(m => m.CadastroLoteAmostra.QtdReprovada, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    % Reprov.
                    <input type="text" class="form-control" id="txtPercentReprovacao" readonly />
                </div>

                <div class="col-md-4">
                    @Html.DisplayNameFor(m => m.CadastroLoteAmostra.Comentario)
                    @Html.TextAreaFor(m => m.CadastroLoteAmostra.Comentario, new { @class = "form-control", @id = "txtQtdReprovada", @placeholder = "Digite aqui..." })
                    @Html.ValidationMessageFor(m => m.CadastroLoteAmostra.Comentario, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-1">
                    <br />
                    <input type="submit" class="btn btn-success" value="Cadastrar" id="btnCadastrar" />
                </div>

            </div>
        }
    </div>
    <hr />
}

@if (Model.ConsultaLoteAmostra != null)
{
    <div class="row">
        <p><strong>Lotes Cadastrados</strong></p>

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultaLoteAmostra.FirstOrDefault().IdLote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultaLoteAmostra.FirstOrDefault().DataHora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultaLoteAmostra.FirstOrDefault().QtdTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultaLoteAmostra.FirstOrDefault().QtdReprovada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultaLoteAmostra.FirstOrDefault().PercentualReprovado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultaLoteAmostra.FirstOrDefault().UsuarioAnalise)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultaLoteAmostra.FirstOrDefault().TipoLote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultaLoteAmostra.FirstOrDefault().Maquina)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ConsultaLoteAmostra)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdLote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataHora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdReprovada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercentualReprovado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioAnalise)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoLote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maquina.CodInterno)
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" onclick="messageBox('@item.Comentario')" title="Informações relatadas no momento da inspeção">Comentário</button>
                        <button class="btn btn-danger btn-sm" onclick="ExcluirAmostra(@item.IdLote)" title="Excluir amostra"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            }

        </table>
    </div>
    <hr />
}

<div class="row">
    <p><strong>Calcular Limite Controle</strong></p>

    <div class="row">
        <div class="col-md-2">
            <input type="button" id="btnCalcularLimite" class="btn btn-primary" value="Calcular Limite" />
        </div>
        <div class="col-md-offset-10">
            <input type="button" id="btnCadastrarLimite" class="btn btn-success" value="Cadastrar Limite" style="display:none" />
        </div>
    </div>

    <div class="row" style="margin-top:15px">
        <label id="lblLimites"></label>
        <div class="col-md-12">
            <div id="linechart_material" style="height:400px"></div>
        </div>
    </div>
</div>